<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <body>
    <div >
    <h1>About</h1>
      <p>
        This is an initiative to help people identify wildflowers found in eastern North America. <br>
        <strong>Coming Soon:</strong> Extensive details about each flower, for example its rarity, its medicinal purposes, and where to find it. 
      </p>
  </div>
  </body>
</html>


