<html>
  <body>
    <h1>Contact</h1>
      
      <div class="row text-center">
        <p>
          I am a software developer and love the outdoors, and this is just one of my attempts to bring those two things together.
        </p>
        <div class="col-lg-12 text-center">
          <strong><i class='fa fa-envelope fa-5x'></i></strong> <br><h3>priankuhan@gmail.com</h3><br>
        </div>
      </div>
  </body>
</html>