<% provide(:title, "Contact") %>
<div id="page-content-wrapper" style="padding-left:10px">
  <div class="container-fluid">
    <div class="row" style="padding-bottom:60px">
      <div class="col-lg-12 text-left dimmed">
          <h1><strong>Contact</strong></h1>
      </div>
    </div>

  </div>
</div>