
<!DOCTYPE html>
<html lang="en">
  <div id="page-content-wrapper" style="padding-left:10px">
      <div class="container-fluid">
          <div class="row">
              <div class="col-sm-12 text-center dimmed" style="font-size:70px">
                  <strong>Prian Kuhanandan</strong>
              </div>
          </div>
          <br><br>
          <div class="row">
            <div class="col-sm-4 dimmed" style="padding-top:20px;padding-bottom:20px">
              <%= link_to image_tag("profile.jpg", id: "picture",  class: "img-responsive") %>
            </div>
            <div class="col-sm-8 text-left dimmed" style="font-size:50px;padding-top:20px;padding-bottom:20px">
              Hey there!<p style="font-size:20px">I'm a engineering student with a passion for software development and technology.</p>
            </div>
          </div>
      </div>
  </div>
</html>