
<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "<i class='fa fa-leaf'></i> <strong><font color='white'>Flower Finder</font></strong>".html_safe, root_path, class: "navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</header>